@import "_mixins";
.hero{
   padding: 50px 0;
   height: 528px;
   background-color: var(--color-EastBay);
   position: relative;
   &__container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      justify-content: center;
      position: relative;
      z-index: 10;
   }
   &__bg{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 200px;
   line-height: 200px;
   color: rgba(255, 255, 255, 0.12);
   font-family: 'Inrto',sans-serif;
   z-index: 5;
   margin-left: -100px;
   margin-top: 60px;
   @include tablet{
      display: none; 
   }
   }
   &__title{
      color: var(--color-white);
      font: 700 36px / 140% var(--font-family);
      width: 50%;
      margin: 0%;
      margin-bottom: var(--bottom-ofset);
      @include mobile{
         width: 100%;
         font: 700 28px / 140% var(--font-family);
        }
   }
   &__desc{
      margin: 0;
      font: var(--middle-font);
      color: var(--color-white);
      max-width: calc(50% - 100px);
      margin-bottom: var(--bottom-ofset);
      @include mobile{
         max-width: 100%;
     
        }
   }
   @include small-tablet{
      height: auto; 
      padding-top: 80px;
     }

     &__btn{
      @include small-tablet{
     margin: 0 auto;
        } 
     }
}
