
@import "./_vars.scss";
@import "./mixins/_breakpoint.scss";

.nav{
   &__list{
      display: flex;
      align-self: center;
   }
   &__item{
      &:not(:last-child){
         margin-right: var(--main-ofset);
         @include tablet{
            margin-right: 28px;
         }
      }
   }
   &__link{
      font-size: var(--small);
      color: var(--color-white);
      position: relative;
      outline: none;
      border: none;

      &::before{
         content: '';
         position: absolute;
         bottom: -3px;
         width: 100%;
         height: 1px;
         background-color: currentColor;
         transform-origin: left;
         transform: scaleX(0);
         transition:  transform 0.3s ease-in-out;
      }
      @include desktop{
         &:hover{
            &::before{
               transform: scaleX(1);
            }
         }     
      }
      &:focus{
         &::before{
            transform: scaleX(1);
         }
      } 
  
   }
   @include small-tablet{
      display: none;
   }
}
.header__nav-mobile {
   display: none;
   @include small-tablet{
      display: none; 
      &--active{
         display: block;
         position: absolute;
         background-color: var(--color-EastBay);
         width: 100%;
         top: 100%;
         right: 0;
         padding: var(--small-ofset);
      }
   }
   .nav__list{
      flex-direction: column;
      border-bottom: 1px solid var(--color-border);
      //align-items: flex-end;
   }
   .nav__item{
      margin: 0;
      margin-bottom: var(--small-ofset);
     
   }
}

